
html{
	scroll-behavior: smooth;
}

header {
    
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.banner {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

nav {
position: relative;
left: auto;
transform: none;
width: 95%;
text-align: center;
}


nav li {
display: block;
margin: 15px 0;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

button {
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

button a {
    color: white;
    text-decoration: none;
}




.imagen-chica{
	height: 100%;
	width: 100%;
}



main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px 0;
}

form label, legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padron{
	display: block;
	margin: 0 0 20px;
	padding: 10px 45px;
	width: 50%;
}




.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}
.principal p{
	text-align: center;
	margin: 2em 0 1em;
	font-size: 30px;
}

.principal strong{
	font-weight: bolder;
}
.principal em{
	font-style: italic;
}

.mapa{
	padding: 3em 0;
}

.mapa p{
margin: 0 0 2em;
text-align: center;
font-size: 20px;

}

.mapa-contenido{
	width: 940px;
	margin: 0 auto;
}
.titulo-centralizado{
	text-align: center;
	font-size: 60px;
	margin: 0 0 1em;
}

.diferenciales{
	padding: 3em 0;
}

.contenido-diferenciales{
width:640px;
margin: 0 auto;

}

.lista-diferenciales{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.items{
	line-height: 1.5;
	font-size: 50px;
	font-style: bolder;
}


.imagen-diferenciales{
	width: 120%;
	
}



.content {
  display: inline;
  margin: 0 0 0 15px;
  position: relative;
  display: grid;
  justify-content: center;
  width: 100%;  
  gap: 20px;
}

button {
  padding: 0.8em 1.2em;
  border: 4px solid #a489ec;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #a489ec;
  font-weight: bolder;
  font-size: 50px;
}

button:nth-child(1):hover {
 transform: scale(1.2) rotate(0deg);
 background-color: #a489ec;
 color: white;
}
button:nth-child(2):hover {
 transform: scale(1.2) rotate(0deg);
 background-color: #a489ec;
 color: white;
}
button:nth-child(3):hover {
 transform: scale(1.2) rotate(0deg);
 background-color: #a489ec;
 color: white;
}

/* Estilos para el contenedor de productos */
div.productos {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinear los elementos en la parte superior */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias líneas */
  padding-top: 20px; /* Espacio superior para evitar que se superponga con el menú */
}

div.productos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.productos li {
  width: 100%;
  margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

div.productos img {
  max-width: 100%;
  max-height: 100%;
}


@media screen and (max-width:767px) {
	body {
		background-size: cover;
}

h1{
	text-align: center;

}
header {
padding: 10px 0;
}
nav {
    position: absolute;
   
    left: 35%;
}
nav li {
display: block;
margin: 15px 0;
}


.banner {
height: auto;
width: 100%;
}





.productos {
width: 100%;
margin: 0;
padding: 20px;
}


.productos li {
width: 100%;
margin: 20px 0;
padding: 20px;
box-sizing: border-box;
}


.imagen-chica {
width: 100%;
height: auto;
}


form {
margin: 20px 0;
}


.input-padron {
width: 100%;
}


.enviar {
width: 100%;
}


.principal {
padding: 20px;
}


.mapa {
padding: 20px 0;
}


.contenido-diferenciales {
width: 100%;
margin: 0;
padding: 20px;
}


.lista-diferenciales {
width: 100%;
margin: 20px 0;
}


.imagen-diferenciales {
width: 100%;
height: auto;
}
button {
font-size: 24px;
padding: 10px 20px;
margin-right: 10px;
}


.content {
display: flex;
justify-content: center;
align-items: center;
}

}
